:root {
  --mainBlue: rgb(2, 2, 88);
  --lightBlue: rgb(167, 168, 255);
  --mainWhite: rgb(233, 223, 252);
  --mainDark: rgb(20, 0, 46);
  --mainYellow: rgb(252, 252, 126);
}

body {
  font-family: 'Charm', cursive !important;
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important;
}

.text-title {
  font-family: 'PT Sans Narrow', sans-serif;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

.text-blue {
  color: var(--mainBlue);
}

.text-bright {
  color: var(--lightBlue);
}






